<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes/css.html' %}
    {% block css %}{% endblock %}
    <title>{% block title %}Tweetme{% endblock %}</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8">
          {% include 'includes/navbar.html' %}
          <br>
          {% block body %}{% endblock %}
          {% include 'tweets/includes/reply_modal.html' %}
        </div>
      </div>
    </div>
    {% include 'includes/js.html' %}
    {% block javascript %}{% endblock %}
  </body>
</html>