{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ block.super }} | {{ title }}
{% endblock %}


{% block body %}
  
  <div class="row">
    <div class="col-sm-3">
      <h3 id="current-user">
        {% if request.user.username %}
          {{ request.user.username }}
        {% endif %}
      </h3>
    </div>
    <div class="col-sm-9">
      {% if not request.GET.q %}
        <div class="row">
          {% include "tweets/includes/form.html" with form=form btn_title=btn_title action_url=action_url form_id='tweet-form' %}
          <hr class="mt-4">
        </div>
      {% endif %}
      <div id='tweet-container'></div>
      <a href="#" id="load-more" style="display: none;" class="btn btn-link">Load more Tweets</a>
<!-- 
      {% for object in object_list %}
        <h5 class="mt-0">{{ object.content }}</h5>
        <p>via {{ object.user }} | {{ object.timestamp|timesince }} ago
          <a href="{% url 'tweets:detail' object.id %}">view</a>
          {% if request.user == object.user %}
            | <a href="{% url 'tweets:update' object.id %}">update</a> |
            <a href="{% url 'tweets:delete' object.id %}">delete</a>
          {% endif %}
        </p>
        <hr>
      {% empty %}
        {% if request.GET.q %}
          <p>No tweets found.</p>
        {% else %}
          <p>No tweets yet.</p>
        {% endif %}
      {% endfor %} -->
    </div>
  </div>
{% endblock %}


{% block css %}
<style>
  .red-color {
    color: red;
  }
  .grey-color {
    color: #ccc;
  }
</style>
{% endblock %}

{% block javascript %}
<script>
  let nextTweetUrl;
  let tweetList;

  function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }

  function attachTweet(tweetValue, prepend=false){
    const div = document.getElementById("tweet-container");
    const user = document.getElementById("current-user").textContent.trim();
    let tweetHTML = `
    {{ tweet.content }}
      <h5 class="mt-0 tweet-content">${tweetValue.content}</h5>
      <p>via <a href="${tweetValue.user.url}">${tweetValue.user.username}</a> | ${ tweetValue.timesince }
        <a href="${tweetValue.url}">view</a>
        `;
        if (user == tweetValue.user.username) {
          tweetHTML +=
        `
        | <a href="${tweetValue.update_url}">update</a> |
        <a href="${tweetValue.delete_url}">delete</a>
      </p>
      <hr>
    `
    } else {
      tweetHTML += `
        </p>
        <hr>
      `
    };
    if (prepend) {
      div.insertAdjacentHTML('afterbegin', tweetHTML);
    } else {
      div.innerHTML += tweetHTML;
    }
    
  }

  function fetchTweets(url) {
    let fetchUrl;
    if (!url) {
      fetchUrl = getParameterByName('q') ? "{% url 'tweets_api:list' %}?q=" + getParameterByName('q') : "{% url 'tweets_api:list' %}";
    } else {
      fetchUrl = url;
    }
    fetch(fetchUrl)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      tweetList = data.results;
      if (data.next){
        document.getElementById('load-more').style.display = 'block';
        nextTweetUrl = data.next;
      } else {
        document.getElementById('load-more').style.display = 'none';
      }
      if (tweetList == 0) {
        document.getElementById('tweet-container').textContent = "No tweets currently found.";
      } else {
        data.results.forEach((value, key) => {
          attachTweet(value);
          updateHashLinks();
        });
      }
    })
    .catch(error => {
      console.error('There has been a problem with your fetch operation:', error);
    });
  }
  fetchTweets();
  document.getElementById('load-more').addEventListener('click', function(event) {
    event.preventDefault();
    if (nextTweetUrl) {
      fetchTweets(nextTweetUrl);
    }
  });

  const charsStart = 140;
  let charsCurrent = 0;
  document.getElementById('tweet-form').innerHTML += `<span id='tweetCharsLeft'>${charsStart}</span>`;
  document.getElementById('id_content').addEventListener('keyup', function(event) {
    let tweetValue = event.target.value;
    charsCurrent = charsStart - tweetValue.length;
    const spanChars = document.getElementById('tweetCharsLeft')
    spanChars.textContent = charsCurrent;
    if (charsCurrent > 0) {
      spanChars.classList.remove("grey-color");
      spanChars.classList.remove("red-color");
    } else if (charsCurrent === 0) {
      spanChars.classList.remove("red-color");
      spanChars.classList.add("grey-color");
    } else if (charsCurrent < 0) {
      spanChars.classList.remove("grey-color");
      spanChars.classList.add("red-color");
    }
  });

  function submitTweet(event){
    const formData = new FormData(event.target);
    const content = formData.get('content');
    let serializedData = {};
    for (const [key, value] of formData.entries()) {
      serializedData[key] = value;
    }
    const createURL = window.location.origin + "{% url 'tweets_api:create' %}";
    fetch(createURL, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': serializedData['csrfmiddlewaretoken'],
      },
      body: JSON.stringify(serializedData),
    })
    .then(response => response.json())
    .then(data => {
      event.target.reset();
      attachTweet(data, prepend=true);
      updateHashLinks();
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
  document.getElementById('tweet-form').addEventListener('submit', function(event) {
    event.preventDefault();
    if (charsCurrent >= 0 ) {
      submitTweet(event);
    } else {
      alert('Your tweet is too long.');
    }
    
  });


  function updateHashLinks(){
    const hashtagRegex = /(^|\s)#([\w\d]+)/g;
    const div = document.getElementById('tweet-container');
    const tweets = div.querySelectorAll('.tweet-content');
    tweets.forEach((value) => {
      value.innerHTML = value.innerHTML.replace(hashtagRegex, `$1<a href='{% url 'hashtags:detail' hashtag='$2' %}'>#$2</a>`);
    });
  }
  
</script>
{% endblock %}