{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ block.super }} | {{ title }}
{% endblock %}


{% block body %}
  
  <div class="row">
    <div class="col-sm-3">
      <h3 id="current-user">
        {% if request.user.username %}
          {{ request.user.username }}
        {% endif %}
      </h3>
    </div>
    <div class="col-sm-9">
      {% if not request.GET.q %}
        <div class="row">
          {% include "tweets/includes/form.html" with form=form btn_title=btn_title action_url=action_url form_id='tweet-form' %}
          <hr class="mt-4">
        </div>
      {% endif %}
      <div id='tweet-container'></div>

      {% for object in object_list %}
        <h5 class="mt-0">{{ object.content }}</h5>
        <p>via {{ object.user }} | {{ object.timestamp|timesince }} ago
          <a href="{% url 'tweets:detail' object.id %}">view</a>
          {% if request.user == object.user %}
            | <a href="{% url 'tweets:update' object.id %}">update</a> |
            <a href="{% url 'tweets:delete' object.id %}">delete</a>
          {% endif %}
        </p>
        <hr>
      {% empty %}
        {% if request.GET.q %}
          <p>No tweets found.</p>
        {% else %}
          <p>No tweets yet.</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block javascript %}
<script>
  function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }

  function formatTimestamp(timestamp) {
    const currentTime = new Date();
    const timestampDate = new Date(timestamp);
    const timeDifference = currentTime - timestampDate;
    const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));

    let formattedTimestamp = '';
    if (days > 0) {
      formattedTimestamp += `${days} ${days === 1 ? 'day,' : 'days,'}`;
    }
    if (hours > 0) {
      formattedTimestamp += ` ${hours} ${hours === 1 ? 'hour,' : 'hours,'}`;
    }
    if (minutes > 0) {
      formattedTimestamp += ` ${minutes} ${minutes === 1 ? 'minute' : 'minutes'}`;
    }
    if (days === 0 && hours === 0 && minutes === 0) {
      formattedTimestamp = 'Less than a minute';
    }
    return formattedTimestamp.trim();
  }

  function fetchTweets() {
    const url = getParameterByName('q') ? "{% url 'tweets_api:list' %}?q=" + getParameterByName('q') : "{% url 'tweets_api:list' %}";
    fetch(url)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      const div = document.getElementById("tweet-container");
      const user = document.getElementById("current-user").textContent.trim();
        data.forEach((value, key) => {
          const tweetContent = value.content;
          const tweetTimestamp = value.timestamp;
          const tweetUser = value.user.username;
          const tweetURL = value.url;
          const tweetUpdateURL = value.update_url;
          const tweetDeleteURL = value.delete_url;

          let tweetHTML = `
          {{ tweet.content }}
            <h5 class="mt-0">${tweetContent}</h5>
            <p>via ${tweetUser} | ${ formatTimestamp(tweetTimestamp) } ago
              <a href="${tweetURL}">view</a>
              `;
              if (user == tweetUser) {
                tweetHTML +=
              `
              | <a href="${tweetUpdateURL}">update</a> |
              <a href="${tweetDeleteURL}">delete</a>
            </p>
            <hr>
          `
          } else {
            tweetHTML += `
              </p>
              <hr>
            `
          };
          div.innerHTML += tweetHTML;
    });
    })
    .catch(error => {
      console.error('There has been a problem with your fetch operation:', error);
    });
  }
  fetchTweets();



  document.querySelector('#tweet-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const url = window.origin + "{% url 'tweets:create' %}";
    const formData = new FormData(event.target);
    const content = formData.get('content');
    let serializedData = {};
    for (const [key, value] of formData.entries()) {
      serializedData[key] = value;
    }
    console.log(serializedData, JSON.stringify(serializedData))
    const createURL = window.location.origin + "{% url 'tweets_api:create' %}";
    fetch(createURL, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': serializedData['csrfmiddlewaretoken'],
      },
      body: JSON.stringify(serializedData),
    })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      fetchTweets();
      event.target.reset();
    })
    .catch(error => {
      console.error('Error:', error);
    });
    
  });
</script>
{% endblock %}