{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ block.super }} | {{ title }}
{% endblock %}


{% block body %}
  
  <div class="row">
    <div class="col-sm-3">
      <h3>
        {% if request.user.username %}
          {{ request.user.username }}
        {% endif %}
      </h3>
    </div>
    <div class="col-sm-9">
      {% if not request.GET.q %}
        <div class="row">
          {% include "tweets/includes/form.html" with form=form btn_title=btn_title action_url=action_url %}
          <hr class="mt-4">
        </div>
      {% endif %}
      <div id='tweet-container'></div>

      {% for object in object_list %}
        <h5 class="mt-0">{{ object.content }}</h5>
        <p>via {{ object.user }} | {{ object.timestamp|timesince }} ago
          <a href="{% url 'tweets:detail' object.id %}">view</a> |
          {% if request.user == object.user %}
            <a href="{% url 'tweets:update' object.id %}">update</a> |
            <a href="{% url 'tweets:delete' object.id %}">delete</a>
          {% endif %}
        </p>
        <hr>
      {% empty %}
        {% if request.GET.q %}
          <p>No tweets found.</p>
        {% else %}
          <p>No tweets yet.</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block javascript %}
<script>
  $(document).ready(function(){
    $.ajax({
      url: "{% url 'tweets_api:list' %}",
      method: "GET",
      success: function(data){
        $.each(data, function(key, value){
          var tweetContent = value.content;
          var tweetUser = value.user;
          $("#tweet-container").append(`
            <h5 class="mt-0">${ value.content }</h5>
            <p>via ${ value.user.username } | ${ value.timestamp } ago
              <a href="${ value.id }/">view</a> |
            </p>
            <hr>
            `
          )
        })
      },
      error: function(data){
        console.log("error")
        console.log(data)
      }
    })

  });
</script>
{% endblock %}