{% extends 'base.html' %}

{% block title %}
  {{ block.super }} | {{ title }}
{% endblock %}


{% block body %}
  <div class="row">
    <div class="col-sm-3">
      <h1>{{ object.username }}</h1>
      <h3>Followers: <small>{{ object.followed_by.all.count }}</small></h3>
      <h3>Following: <small>{{ object.profile.get_following.count }}</small></h3>
      <p>
        <!-- <a href="{% url 'accounts:follow' username=object.username %}" class="btn btn-link"></a> -->
        <a href="{{ object.profile.get_follow_url }}" class="btn btn-link">
          {% if following %}
            Unfollow
          {% else %}
            Follow
          {% endif%}
        </a>
      </p>
      <!-- {% for user in object.profile.following.all %} -->
      <!-- {% endfor %} -->
      {% for user in object.profile.get_following %}
        <p>
          <a href="{% url 'accounts:detail' user.username %}">
            {{ user.username }}
          </a>
        </p>
      {% empty %}
        <p>Not following any users yet.</p>
      {% endfor %}
      <hr>
      <h3>Followed By</h3>
      {% for profile in object.followed_by.all %}
        <p>
          <a href="{% url 'accounts:detail' profile.user.username %}">
            {{ profile.user.username }}
          </a>
        </p>
      {% empty %}
        <p>Not followed by any users yet.</p>
      {% endfor %}

    </div>
    <div class="col-sm-9">
      <h3>Tweets</h3>
      <div id='tweet-container-user'></div>
      <a href="#" id="load-more" style="display: none;" class="btn btn-link">Load more Tweets</a>
      <!-- {% for object in object.tweet_set.all %}
        <h5 class="mt-0">{{ object.content }}</h5>
        <p>via {{ object.user }} | {{ object.timestamp|timesince }} ago
          <a href="{% url 'tweets:detail' object.id %}">view</a>
          | <a href="{% url 'tweets:update' object.id %}">update</a>
          | <a href="{% url 'tweets:delete' object.id %}">delete</a>
        </p>
        <hr>
      {% endfor %} -->
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script>
    divID('tweet-container-user', create=false, url='{% url "tweets_api:list" %}');
  </script>
{% endblock %}