<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'tweets:list' %}">Tweetme</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'tweets:create' %}">Create</a>
        </li>
      </ul>
      <div class="ms-auto d-flex">
        <form class="d-flex" method="GET" action="{% url 'tweets:search' %}?q={{ request.GET.q }}">
          <input class="form-control me-2" id="searchInput" type="search" name='q' value='{{ request.GET.q }}' placeholder="Your Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
      
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
            <li><a class="dropdown-item" id="current-user" data-user="{{ request.user.username }}" href="{% url 'accounts:detail' username=request.user.username %}">My Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>


{% block javascript %}
<script>
  // Auto Search Input Navber
  document.addEventListener('DOMContentLoaded', () => {
    let typingTimer = '';
    let doneInterval = 800;
    const searchInput = document.getElementById('searchInput');
    let searchQuery = '';

    searchInput.addEventListener('keyup', (event) => {
      searchQuery = event.target.value.trim();
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneSearchTyping, doneInterval);
      
    });
    searchInput.addEventListener('keydown', (event) => {
      searchQuery = event.target.value.trim();
      clearTimeout(typingTimer);
    });
    function doneSearchTyping(){
      if (searchQuery){
        const url = `{% url "tweets:search" %}?q=${searchQuery}`;
        window.location.href = url;
      }
    }
  });

</script>
{% endblock %}